:root {
    --bg-color: rgb(54, 59, 58);
    --bg-color-dark: rgb(41, 46, 45);

    --font-color: rgb(200,200,200);
    --font-color-dark: rgb(41, 46, 45);
    --border-color: rgb(137, 133, 133);

    --btn-default-color: rgb(92, 96, 98);
    --btn-success-color: rgb(104 141 28);
    --btn-primary-color: rgb(21 115 135);
    --btn-warning-color: rgb(185 86 15);
    --btn-danger-color: rgb(145 56 31);
}